{{ define "main" }}

	{{ partial "landing-banner" site.Data.landingBanner }}
	<!-- {{ partial "banner" site.Data.banner }} -->
	{{ partial "template/footer" . }}
	<!-- {{ partial "spotlight" site.Data.spotlight1 }}
	{{ partial "spotlight" site.Data.spotlight2 }}
	{{ partial "spotlight" site.Data.spotlight3 }}
	{{ partial "gallery" site.Data.gallery }}
	{{ partial "items" site.Data.items }}
	{{ partial "elements" . }}
	{{ partial "elements_reference" . }}
	{{ partial "template/footer" . }} -->

{{ end }}